<!-- src/app/pages/movies/movies.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>My Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Movie Name</ion-label>
    <ion-input [(ngModel)]="movieName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Release Year</ion-label>
    <ion-input [(ngModel)]="releaseYear"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="addMovie()">Add Movie</ion-button>

  <ion-list>
    @for (movie of movies; track movie; let i = $index) {
      <ion-item-sliding>
        <ion-item>
          <ion-label *ngIf="!isEditing">
            <h2>{{ movie.name }}</h2>
            <p>{{ movie.year }}</p>
          </ion-label>
          <ion-item *ngIf="isEditing">
            <ion-input [(ngModel)]="movie.name"></ion-input>
            <p>{{ movie.year }}</p>
          </ion-item>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteMovie(i)">Delete</ion-item-option>
          <ion-item-option expand="block" color="secondary" *ngIf="!isEditing" (click)="editing()">Edit</ion-item-option>
          <ion-item-option expand="block" color="success" *ngIf="isEditing" (click)="editName(i, movie.name)">Save</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    }
  </ion-list>

  <ion-text color="danger" *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </ion-text>
</ion-content>